* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
}

footer {
    background-color: #fff;
    color: rgb(206, 54, 54);
    text-align: center;
    padding: 20px;
}

.logo-title {
    font-family: Dancing Script, cursive;
    margin-left: 30px;
    font-size: 2rem; 
    color: rgb(206, 54, 54);
}

/* navbar */
#menu:active, #home:active, #about:active {
    background-color: black;
}

.nav-btn {
    background-color: white;
    color: grey;
    border: none;
    padding: 10px 20px;
}

.nav-btn:hover {
    background-color: rgb(206, 54, 54);
    color: white;
    transition: background-color 0.3s ease;
}

/* homepage split screen */
.home-page {
    display: flex;
    height: 100vh;
}

.left-side, .right-side {
    flex: 1;
}

.left-side {
    background-color: rgb(206, 54, 54);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-side h1 {
    font-size: 7rem;
    margin-bottom: 20px;
    font-family: "Dancing Script", cursive;
}

.left-side .welcome-text {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: "Dancing Script", cursive;
    width: 80%;
    text-align: center;
}

.right-side {
    background-color: blue;
}

.diner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.menu-button {
    background-color: black;
    color: white;
    padding: 30px;
    z-index: 1;

}

/* menu page */

.menu-page {
    background-color: rgb(206, 54, 54);
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
    margin: 50px auto;
    background-color: white;
}

.borderline1 {
    border: 1px solid black;
    width: 80%;
    margin-top: 80px;
}

.borderline {
    border: 1px solid black;
    width: 80%;
    margin-top: 10px;
}


.diner-name {
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    color: rgb(206, 54, 54);
    margin-top: 20px;
}

.menu-title {
    font-family:Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 5rem;
    letter-spacing: 10px;
    font-weight: lighter;
}

.menu-list-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item-details {
    width: 200px;
    color: #000;
}

.item-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.item-price {
    font-size: 1.2rem;
    font-weight: bold;
}

.item-description {
    font-size: 1rem;
    margin-top: 10px;
}

.item-image {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}

.refreshments-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-top: 20px;
    width: 80%;
    margin-bottom: 100px;
}

.drinks-section, .desserts-section {
    flex: 1;
    max-width: 45%;
}

.drinks-list, .desserts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.drinks-title, .desserts-title {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.drink-item, .dessert-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;
    font-size: 0.8rem;
}

.drink-price, .dessert-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
}

.dessert-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    white-space: nowrap;
}